In [1]:
import os
import s3fs
import pandas as pd
import functions as fc

In [2]:
df_rep_pm = fc.import_inpi( "societe_rep.csv", cols=None)

/home/coder/work/data_inpi/code/functions.py:192: DtypeWarning: Columns (14,16,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rep_pm = pd.read_csv(file_in, sep=";", encoding="utf-8",

In [3]:
df_rep_pm.head()

,code_greffe,siren,denomination,forme_juridique,qualite,nom_patronymique,nom_usage,prenoms,type,date_naissance,...,qualite_cor,denomination_cor,commune,code_departement,code_commune_insee,code_commune_cor,adresse_ligne1_cor,adresse_ligne2_cor,adresse_ligne3_cor,qualite_simplifie
0,101,26380212,SOCIETE IMMOBILIERE FINANCIERE D ETUDES ET DE ...,Société par actions simplifiée,Président,VATIN,NaN,Gerard,P.Physique,1947-10-07,...,président,societe immobiliere financiere d etudes et de ...,carpentras,84,84031.0,84031.0,1360 chemin saint-roch,1360 chemin saint-roch,NaN,1.0
1,101,26380212,SOCIETE IMMOBILIERE FINANCIERE D ETUDES ET DE ...,Société par actions simplifiée,Directeur général,VATIN,NaN,Jacques,P.Physique,1930-04-03,...,directeur général,societe immobiliere financiere d etudes et de ...,paris,75,NaN,NaN,50 rue de la tour,50 rue de la tour,NaN,1.0
2,101,26380212,SOCIETE IMMOBILIERE FINANCIERE D ETUDES ET DE ...,Société par actions simplifiée,Directeur général,JORDENS,VATIN,Regina,P.Physique,1948-08-07,...,directeur général,societe immobiliere financiere d etudes et de ...,carpentras,84,84031.0,84031.0,1360 chemin saint-roch,1360 chemin saint-roch,NaN,1.0
3,101,26380212,SOCIETE IMMOBILIERE FINANCIERE D ETUDES ET DE ...,Société par actions simplifiée,Directeur général,VATIN,VATIN-CHAIX,Bertrand Heinrich René,P.Physique,1977-06-09,...,directeur général,societe immobiliere financiere d etudes et de ...,strasbourg,67,67482.0,67482.0,63 rue virgile,63 rue virgile,NaN,1.0
4,101,61500740,SOCIETE J.F.B.,Société par actions simplifiée,Président,BENOIT,NaN,Nicolas Arnold Denis,P.Physique,1974-05-15,...,président,societe j.f.b.,ars-sur-formans,14,NaN,1021.0,222 rue jean-marie vianney,222 rue jean-marie vianney,NaN,1.0

In [3]:
deces = fc.import_file("deces/deces_all_years.csv")

/home/coder/work/data_inpi/code/functions.py:269: DtypeWarning: Columns (2,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rep_pm = pd.read_csv(file_in, sep=";", encoding="utf-8")

In [4]:
deces.head()

,sexe,datenaiss,lieunaiss,commnaiss,paysnaiss,datedeces,lieudeces,nom,prenom,annee
0,2,19221022,01366,SAINTE-JULIE,NaN,20160114,01004,MARIN,MARCELINE,2016
1,2,19311101,62617,NOEUX-LES-MINES,NaN,20160105,01004,DEBRET,THERESE MADELEINE,2016
2,1,19410508,42147,MONTBRISON,NaN,20160121,01004,THELIOL,ANTOINE ROGER MARIE,2016
3,1,19320207,01004,AMBERIEU-EN-BUGEY,NaN,20160121,01004,GALLET,ROBERT HENRI,2016
4,2,19300218,01004,AMBERIEU-EN-BUGEY,NaN,20160122,01004,BOUCHARD,GEORGETTE,2016

In [6]:
df_rep_pm.columns

Index(['code_greffe', 'siren', 'denomination', 'forme_juridique', 'qualite',
       'nom_patronymique', 'nom_usage', 'prenoms', 'type', 'date_naissance',
       'ville_naissance', 'adresse_ligne1', 'adresse_ligne2', 'adresse_ligne3',
       'code_postal', 'ville', 'code_commune', 'pays', 'id_representant',
       'nom_patronymique_cor', 'qualite_cor', 'denomination_cor', 'commune',
       'code_departement', 'code_commune_insee', 'code_commune_cor',
       'adresse_ligne1_cor', 'adresse_ligne2_cor', 'adresse_ligne3_cor',
       'qualite_simplifie'],
      dtype='object')

In [9]:
# variables permettant de lier le fichier deces au fichier inpi:
df_rep_pm.loc[:,["nom_patronymique", "prenoms", "nom_usage", "date_naissance", 'ville_naissance']].head()

,nom_patronymique,prenoms,nom_usage,date_naissance,ville_naissance
0,VATIN,Gerard,NaN,1947-10-07,79270 Saint-Maixent-L'École 79
1,VATIN,Jacques,NaN,1930-04-03,02691 Saint-Quentin 02
2,JORDENS,Regina,VATIN,1948-08-07,Allemagne
3,VATIN,Bertrand Heinrich René,VATIN-CHAIX,1977-06-09,Chêne bougeries
4,BENOIT,Nicolas Arnold Denis,NaN,1974-05-15,69381 LYON 01

In [ ]:
# il faut nettoyer la ville de naissance dans la base inpi et y ajouter le code commune insee