In [1]:
import functions as fc
import pandas as pd

In [ ]:
fc.download_tgz_raw()

In [ ]:
fc.import_tgz("2018", "./data2018")

In [ ]:
fc.import_tgz("2019", "./data2019")

In [ ]:
fc.import_tgz("2020", "./data2020")

In [3]:
df_final = fc.transform_rcs("2018")

101
(11328, 118)

In [4]:
df_final.head()

,Code Greffe,Nom_Greffe,Numero_Gestion,Siren,Type_Inscription,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Date_Transfert,Sans_Activité,...,Type_Remise,Confidentialité,Confidentialité_Compte_résultat,ID_Observation,Numéro_Observation,Date_Ajout,Date_Suppression,Texte,Etat,date_greffe
0,7501,Paris,2017B29899,834296204,P,21/12/2017,21/12/2017,NaN,NaN,Non,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7501,Paris,2017B30352,833974348,P,27/12/2017,27/12/2017,NaN,NaN,Non,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7501,Paris,2017B30378,834260796,P,28/12/2017,28/12/2017,NaN,NaN,Non,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7501,Paris,2017B30379,834220444,P,28/12/2017,28/12/2017,NaN,NaN,Non,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7501,Paris,2017B30381,834278079,P,28/12/2017,28/12/2017,NaN,NaN,Oui,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
fc.export_2_minio("2018", df_final)

In [ ]:
fc.export_2_minio("2019", df_final)

In [ ]:
fc.export_2_minio("2020", df_final)